@import '@styles/mixin.scss';
@import '@styles/theme.scss';

.member-info {
    height: 100%;
    background-color: #f3f4f5;
    a:hover {
        text-decoration: none;
    }
    .value-unchangable {
        display: inline-flex;
        align-items: center;
    }

    .upload-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: px2em(30);
        width: px2em(30);
        margin-right: 10px;
        .avastar {
            display: block;
            height: 100%;
            width: 100%;
        }
        .img-file {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            opacity: 0;
            z-index: 50;
            width: 100%;
        }
    }

    .link-group {
        margin-bottom: px2em(10);
        background: #fff;
    }

    .link {
        margin-left: px2em(15);
        padding-right: px2em(15);
        height: px2em(45);
        line-height: px2em(45);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333;
        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }
    }
}